@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
/* html and bodyof html */
html, body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #FFC7C7;
	height: 100%;
	margin: 0;
	padding: 0;
	font-weight: bold;
}
img {
	max-width: 100%;
	height: auto;
}
/* html and bodyof html */
.bg-navbar {
	font-size:1rem;
	font-weight:bold;
	color: white;
	background-color: rgba(81,70,158,0.8);
}
.navbartogglericon {
	color: white;
	border-color:#210B2C;
	border-width:5px;
	outline-color:#210B2C;
	outline-width:5px;
}
.navbar-toggler {
	border-color:#433A82;
	border-width:5px;
    color:white;
	outline-color:#433A82;
	outline-width:5px;
}
.navbar-brand {
	outline: black;
	font-size:1rem;
	font-weight:bold;
	color:white;
	background-color:transparent;
}
.navbar-brand:hover {
	background-color: rgba(81,70,158,1.0);
	color: rgba(33,11,44,0.98);
}
.nav-item {
	font-size:1rem;
	font-weight: bold;
    color:white;
	background-color:transparent;
	margin-left: 20px;
	margin-right:20px;
}
.nav-item:hover {
	background-color: rgba(81,70,158,1.0);
	color:white;
}
/* navbar */
/* Safari 4.0 - 8.0 */
.headingforattractionssearchform {
	padding: 2rem;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	background-color:#572162;
    margin-top: 170px;
	margin-bottom: 80px;
	color: white;
	font-size:1rem;
	font-weight: bold;
}
.btn-outline-secondary-map {
	background-color: #51469E;
	color: #CC97C4;
	border: 1px solid #252048;
}
.btn-outline-secondary-map:hover {
	background-color: #FF6666;
	color: #FFF1F1;
	border: 1px solid #5D2626;
}
.col-form-label,label,.form-group {
	background-image: -o-linear-gradient(left bottom, #cc97c4, #d98dbc, #e683af, #f2789d, #fa6f88, #f46984, #ee6480, #e85e7c, #d25c88, #b85d8f, #9e5d90, #845d8c);
	background-image: -webkit-gradient(linear, left bottom, right top, from(#cc97c4), color-stop(#d98dbc), color-stop(#e683af), color-stop(#f2789d), color-stop(#fa6f88), color-stop(#f46984), color-stop(#ee6480), color-stop(#e85e7c), color-stop(#d25c88), color-stop(#b85d8f), color-stop(#9e5d90), to(#845d8c));
	background-image: linear-gradient(to right top, #cc97c4, #d98dbc, #e683af, #f2789d, #fa6f88, #f46984, #ee6480, #e85e7c, #d25c88, #b85d8f, #9e5d90, #845d8c);
	color: #210B2C;
	max-width: 100%;
	height: auto;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding:10px;
	margin:10px;
}
#type_holder{
    padding:21px;
	margin: 0 auto;
    text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.mapcontainer,.form-group,input {
	max-width: 100%;
	height: auto;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.form-group-container,.form-group {
	color:#FF6666;
	background-color:#FFC7C7;
	margin: 0 auto;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
#map {
	height: 772px;
	width: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
}
#frm_map {
	font:1rem;
	height: auto;
	max-width: 100%;
	padding: 15px;
	background-color:#CC97C4;
    }
#autocomplete {
	width: 100%;
}
#country {
	width: 100%;
}
.btn-primary-mapsearch {
	background-color: #210B2C;
	color: #CC97C4;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
	padding:10px;
	margin:10px;
}
.btn-primary-mapsearch:hover {
	background-image: -o-linear-gradient(left bottom, #cc97c4, #d98dbc, #e683af, #f2789d, #fa6f88, #f46484, #ee5981, #e84e7e, #cd458d, #ab4399, #82459f, #51469e);
	background-image: -webkit-gradient(linear, left bottom, right top, from(#cc97c4), color-stop(#d98dbc), color-stop(#e683af), color-stop(#f2789d), color-stop(#fa6f88), color-stop(#f46484), color-stop(#ee5981), color-stop(#e84e7e), color-stop(#cd458d), color-stop(#ab4399), color-stop(#82459f), to(#51469e));
	background-image: linear-gradient(to right top, #cc97c4, #d98dbc, #e683af, #f2789d, #fa6f88, #f46484, #ee5981, #e84e7e, #cd458d, #ab4399, #82459f, #51469e);
	color: #ECD9E9;
}
.btn-light-mapsearch {
	background-color: #FF6666;
	color: #572162;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
	padding:10px;
	margin:10px;
}
.btn-light-mapsearch:hover {
	background-image: -o-linear-gradient(left bottom, #cc97c4, #d98dbc, #e683af, #f2789d, #fa6f88, #f46484, #ee5981, #e84e7e, #cd458d, #ab4399, #82459f, #51469e);
	background-image: -webkit-gradient(linear, left bottom, right top, from(#cc97c4), color-stop(#d98dbc), color-stop(#e683af), color-stop(#f2789d), color-stop(#fa6f88), color-stop(#f46484), color-stop(#ee5981), color-stop(#e84e7e), color-stop(#cd458d), color-stop(#ab4399), color-stop(#82459f), to(#51469e));
	background-image: linear-gradient(to right top, #cc97c4, #d98dbc, #e683af, #f2789d, #fa6f88, #f46484, #ee5981, #e84e7e, #cd458d, #ab4399, #82459f, #51469e);
	color: #ECD9E9;
}

.headingcontainerone,
.headingcontainertwo {
	padding: 2rem;
	background-color:#51469E;
    color: #210B2C;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 70px;
	margin-bottom: 70px;
	font-size:1rem;
	font-weight: bold;
}
.mb-3,.form-control {
	width: 100%;
	height: auto;
	border-color: black;
	border-width: 2px;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
/* popular destinations */
.card-title-package-deals {
	padding: 10px;
	font-size:1rem;
	font-weight: bold;
	color: rgba(255,255,255,1.0);
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(255,102,102,0.65);
}
.bg-light-package-deals {
    padding: 2rem;
	font-size:1rem;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.package-deals-home-page {
	padding: 2rem;
	font-size:1rem;
	font-weight: bold;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.bg-white-useful-information,.card-title-useful-information {
	padding:1rem;
	font-size:1rem;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(236,226,208,0.7);
	color:#210B2C;
}
.useful-information {
	padding: 2rem;
	font-size:1rem;
	font-weight: bold;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #210B2C;
    }
/* socialmedia */
.page-footer {
	padding: 2rem;
	color: white;
	background-color:#FF6666;
}
.text-uppercase {
	padding: 2rem;
	background-color: white;
	margin-top: 20px;
	color: #3C011D;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
}
.footer {
	padding: 2rem;
	max-width:100%;
	height:auto;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	background-color: transparent;
	color: #210B2C;
	font-size:1rem;
	font-weight: bold;
	margin: 0 auto;
}
.social-media-icons,.list-inline-social {
	padding: 2rem;
	font-size:1rem;
	font-weight: bold;
	margin:0 auto;
	text-decoration:none;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.fab {
	padding: 10px;
	font-size:2rem;
	font-weight: bold;
	margin-left:10px;
	margin-right: 10px;
	text-decoration:none;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: white;
}
.fab:hover {
	color: #011638;
	text-decoration:none;
}
.footer-copyright {
	padding: 2rem;
	margin:0 auto;
	font-size:1rem;
	font-weight: bold;
	color: white;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.footer-copyright:hover {
	opacity:0.5;
}
.btn-outline-white {
	font-size:1rem;
	font-weight: bold;
	height: 3rem;
	width: 8rem;
	border-color: #210B2C;
	border-width: 5px;
	color: #210B2C;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto;
}
.btn-outline-white:hover {
	color:#210B2C;
	opacity:0.5;
}
.mb-1,.py-5,.mb-5 {
	padding: 2rem;
	font-size:1rem;
	font-weight: bold;
	margin:0 auto;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.mb-1:hover {
	opacity:0.9;
}
/* socialmedia */