@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
/* html and bodyof html */
html, body {
	overflow-x: hidden;
	overflow-y: auto;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	height: 100%;
	background-image: url(../images/maldives-island_74190-477.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#E7D7CD;
}
img {
	max-width: 100%;
	height: auto;
}
/* html and bodyof html */
/* navbar */
.navbar {
	font-size:1rem;
	font-weight:bold;
	color: white;
    background-size: cover;
}

.bg-white {
color:black;
font-weight: bold;
text-align: center;
align-items:center;
}

.navbartogglericon {
	color: black;
	border-color:black;
	border-width:5px;
	outline-color:black;
	outline-width:5px;
}
.navbar-toggler {
	border-color:black;
	border-width:5px;
	color: black;
	outline-color:black;
	outline-width:5px;
}
.nav-item {
	font: 1rem;
	color: white;
	margin-right:80px;
    margin-left: 80px;
}
.nav-item:hover {
	background-color: white;
	color: black;
}

.topnav .login-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
}

.topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #d90368;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background-color: #E34791;
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
/* navbar */

.brandname {
    margin-bottom: 20px;
    text-align:center;
}

.searchform {
   text-align: center;
margin-top: 30px;
margin-bottom: 30px;
border: 10px solid #D90368;
}

.carouselExampleControlsoneheading {
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
border: 10px solid #D90368;
}

.carouselExampleControlstwoheading {
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
border: 10px solid #D90368;
}

/* socialmedia */
.footer {
	max-width:100%;
	height:auto;
	left: 50%;
	right:50%;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: transparent;
	color: #1C0913;
	font-size: 1rem;
	margin: 0 auto;
}
.footer-copyright {
	margin:auto;
	font-size: 1rem;
	color: #1C0913;
}
.fab {
	margin:0 auto;
	transition: 0.2s;
	color: #1C0913;
	text-decoration:none;
}
.fab:hover {
	color: #1C0913;
	;
	opacity:0.5;
	/* IE 9 */
	/* Safari 3-8 */
	transform: scale(2.5);
	text-decoration:none;
}
.footer-copyright {
	margin:0 auto;
	font-size:1rem;
}
.footer-copyright:hover {
	opacity:0.5;
}
.btn-outline-white {
	font-size: 1rem;
	height: 3rem;
	width: 8rem;
	border-color: #1C0913;
	border-width: 5px;
	color: #1C0913;
	border-radius: 30px;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.btn-outline-white:hover {
	color:#1C0913;
	opacity:0.5;
}
.mb-1 {
	font-size: 1rem;
	margin:0 auto;
}
.mb-1:hover {
	opacity:0.9;
}
/* socialmedia */