@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
/* html and bodyof html */
html, body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #FFE3E3;
	height: 100%;
	margin: 0;
	padding: 0;
	font-weight: bold;
}
html {
	scroll-behavior: smooth;
}
/* all images within html and bodyof html */
img {
	max-width: 100%;
	height: auto;
}
/* all hover effects with a box shadow */
.card:hover,.navbar-brand:hover,.nav-item:hover,.headingcontainerforthewebsite:hover,.headingcontainerformapsearchboxcard:hover,#map:hover,#pac-input:hover,.headingcontainerone:hover,.headingcontainertwo:hover,.card-title-package-deals:hover.bg-light-package-deals:hover,.card-title-useful-information:hover,.text-white:hover,.useful-information:hover,.card-title-package-deals,.card,.bg-light-package-deals,.text-white,.card-img,.card-img-overlay,.stretched-link,.footerwriting {
	-webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	text-decoration: none;
}
/* centering css for all elements */
.headingcontainerforthewebsite,.headingcontainerformapsearchboxcard,#pac-input,.headingcontainerone,.headingcontainertwo,#footer,.page-footer,.footerwriting,.bg-light-package-deals,.package-deals-home-page,.bg-white-useful-information,.card-title-useful-information,.useful-information,.text-uppercase,.social-media-icons,.list-inline-social,.footer-copyright,.btn-outline-white,.footericon:hover,.fas,.list-group-social,.mapcontainercard,#map,.card-header,.card-header-one {
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
}
/* navbar */
.bg-navbar {
	font-size:1rem;
	font-weight:bold;
	color:rgba(255,255,255,0.97);
	background-color: rgba(81,70,158,0.8);
	-webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* navbar toggler icon */
.navbartogglericon {
	color: rgba(255,255,255,0.97);
	border-color:#210B2C;
	border-width:5px;
	outline-color:#210B2C;
	outline-width:5px;
}
/* navbar toggler */
.navbar-toggler {
	border-color:#433A82;
	border-width:5px;
	color:rgba(255,255,255,0.97);
	outline-color:#433A82;
	outline-width:5px;
}
/* navbar brand */
.navbar-brand {
	outline: rgba(0,0,0,1.0);
	font-size:1rem;
	font-weight:bold;
	color:rgba(255,255,255,0.97);
	background-color:transparent;
}
/* navbar brand logo image */
#brandlogoimage {
	width: 40px;
	height:40px;
	margin-right:1rem;
}
/* navbar brand hover */
.navbar-brand:hover {
	background-color: rgba(81,70,158,1.0);
	color: rgba(33,11,44,0.98);
}
/* nav item */
.nav-item {
	font-size:1rem;
	font-weight: bold;
	color:rgba(255,255,255,0.97);
	background-color: #AFAAD2;
	margin-right:20px;
}
/* nav item hover */
.nav-item:hover {
	background-color:#CC97C4;
	color:rgba(255,255,255,0.97);
}
/* heading container for the website */
.headingcontainerforthewebsite {
	padding: 2rem;
	background-color:#572162;
	margin-top: 80px;
	margin-bottom: 0px;
	color: rgba(255,255,255,0.97);
	font-size:1rem;
	font-weight: bold;
}
/* heading container for map searchbox card */
.headingcontainerformapsearchboxcard {
	background-color:#FF6666;
	margin-top: 10px;
	margin-bottom: 10px;
	color: rgba(255,255,255,0.97);
	font-size:1rem;
	font-weight: bold;
}
/* map and its components*/
#map {
	height: 800px;
	width: 100%;
	margin: 0 auto;
}
.mapcontainercard {
	background-color:#572162;
	margin: 0 auto;
}
table {
	font-size: 12px;
}
.hotel-search {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgba(255,255,255,0.97);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
#findhotels {
	font-size: 14px;
}
#locationField {
	-webkit-box-flex: 1 1 190px;
	-ms-flex: 1 1 190px;
	flex: 1 1 190px;
	margin: 0 8px;
}
#controls {
	-webkit-box-flex: 1 1 140px;
	-ms-flex: 1 1 140px;
	flex: 1 1 140px;
}
#country {
	width: 100%;
}
.placeIcon {
	width: 20px;
	height: 34px;
	margin: 4px;
}
.hotelIcon {
	width: 24px;
	height: 24px;
}
#resultsTable {
	border-collapse: collapse;
	width: 240px;
}
#rating {
	font-size: 13px;
	font-family: Arial Unicode MS;
}
.iw_table_row {
	height: 18px;
}
.iw_attribute_name {
	font-weight: bold;
	text-align: right;
}
.iw_table_icon {
	text-align: right;
}
/* container for headings for package deals and useful information */
.headingcontainerone,.headingcontainertwo {
	padding: 2rem;
	background-color:#51469E;
	color: #210B2C;
	margin-top: 70px;
	margin-bottom: 70px;
	font-size:1rem;
	font-weight: bold;
}
/* card titles for all cards about travel deals */
.card-header {
	background-color: rgba(255,102,102,1.0);
	color: rgba(255,255,255,1.0);
}
.usefulone {
	background-color: #210B2C;
	color: rgba(255,255,255,1.0);
}
/* body of image overlay card for package deals */
.bg-light-package-deals {
	padding: 1rem;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* package deals card container */
.package-deals-home-page {
	padding: 1rem;
	font-weight: bold;
}
/* useful information container */
.bg-white-useful-information,.text-white {
	padding:1rem;
}
.bg-light-package-deals:hover {
	background-color:#572162;
}
.bg-white-useful-information:hover {
	background-color:#CC97C4;
}
/* contact information for the company */
.text-uppercase {
	padding:1rem;
	font-size:1rem;
	background-color:rgba(255,255,255,0.97);
	margin-top: 20px;
	color: #3C011D;
}
/* social media icons class */
.list-group-social {
	padding: 1rem;
	font-size:1rem;
	font-weight: bold;
	text-decoration:none;
	margin: 0 auto;
}
/* footer */
#footer,.list-group,.list-group-item,.list-group-item-action {
	background-color: #FF6666;
	color: rgba(255,255,255,0.97);
}
.list-group-item:hover,.list-group-item-action:hover {
	color: rgba(255,255,255,0.97);
	background-color: transparent;
}
/* social media icons */
.fab {
	padding: 10px;
	font-size:2rem;
	font-weight: bold;
	margin-left:10px;
	margin-right: 10px;
	text-decoration:none;
	color: rgba(255,255,255,0.97);
	border-radius: 5px;
}
/* footer icons and copyright information */
.footer-copyright {
	padding:1rem;
	font-size:1rem;
	font-weight: bold;
	color:rgba(255,255,255,0.97);
	 background-color: #8C3838;   
}
/* sign-up button for newsletters */
.btn-outline-white {
	font-size:1rem;
	height: 3rem;
	width: 8rem;
	border-color: #210B2C;
	border-width: 5px;
	color: #210B2C;
}
/* end */